# Project price cars prediction

In [1]:
import pandas as pd 
import numpy as np

In [3]:
cars = pd.read_csv('data.csv')
cars = cars.iloc[:, 1:]

In [4]:
cars.shape

(251079, 14)

In [5]:
cars.head()

,brand,model,color,registration_date,year,price_in_euro,power_kw,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,fuel_consumption_g_km,mileage_in_km,offer_description
0,alfa-romeo,Alfa Romeo GTV,red,10/1995,1995,1300,148,201,Manual,Petrol,"10,9 l/100 km",260 g/km,160500.0,2.0 V6 TB
1,alfa-romeo,Alfa Romeo 164,black,02/1995,1995,24900,191,260,Manual,Petrol,NaN,- (g/km),190000.0,"Q4 Allrad, 3.2L GTA"
2,alfa-romeo,Alfa Romeo Spider,black,02/1995,1995,5900,110,150,Unknown,Petrol,NaN,- (g/km),129000.0,ALFA ROME 916
3,alfa-romeo,Alfa Romeo Spider,black,07/1995,1995,4900,110,150,Manual,Petrol,"9,5 l/100 km",225 g/km,189500.0,2.0 16V Twin Spark L
4,alfa-romeo,Alfa Romeo 164,red,11/1996,1996,17950,132,179,Manual,Petrol,"7,2 l/100 km",- (g/km),96127.0,"3.0i Super V6, absoluter Topzustand !"

In [6]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251079 entries, 0 to 251078
Data columns (total 14 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   brand                     251079 non-null  object
 1   model                     251079 non-null  object
 2   color                     250913 non-null  object
 3   registration_date         251075 non-null  object
 4   year                      251079 non-null  object
 5   price_in_euro             251079 non-null  object
 6   power_kw                  250945 non-null  object
 7   power_ps                  250950 non-null  object
 8   transmission_type         251079 non-null  object
 9   fuel_type                 251079 non-null  object
 10  fuel_consumption_l_100km  224206 non-null  object
 11  fuel_consumption_g_km     251079 non-null  object
 12  mileage_in_km             250927 non-null  float64
 13  offer_description         251078 non-null  object
dtypes: float64(1), object(13)
memory usage: 26.8+ MB

In [9]:
cars['transmission_type'].value_counts()

transmission_type
Automatic         131749
Manual            117869
Unknown             1144
Semi-automatic       317
Name: count, dtype: int64

In [8]:
cars['brand'].value_counts()

brand
volkswagen       33281
mercedes-benz    27226
audi             21161
opel             20388
bmw              19810
ford             18790
skoda            14039
seat             11949
renault           8694
toyota            8228
hyundai           6989
peugeot           5848
kia               5734
fiat              5039
mini              4295
mazda             4211
volvo             4164
citroen           4083
porsche           3958
nissan            3784
dacia             3367
land-rover        3073
jeep              1749
smart             1643
alfa-romeo        1437
jaguar            1398
mitsubishi         934
honda              785
maserati           698
dodge              669
ferrari            590
bentley            541
lamborghini        361
ssangyong          342
aston-martin       277
saab               233
isuzu              206
daihatsu           204
chevrolet          191
lada               191
cadillac           157
infiniti           112
lancia             105
daewoo              61
rover               51
chrysler            32
proton               1
Name: count, dtype: int64

In [9]:
cars.describe()

       mileage_in_km
count   2.509270e+05
mean    8.534002e+04
std     7.871706e+04
min     0.000000e+00
25%     2.490400e+04
50%     6.750000e+04
75%     1.265000e+05
max     3.800000e+06

In [10]:
cars.isnull().sum()

brand                           0
model                           0
color                         166
registration_date               4
year                            0
price_in_euro                   0
power_kw                      134
power_ps                      129
transmission_type               0
fuel_type                       0
fuel_consumption_l_100km    26873
fuel_consumption_g_km           0
mileage_in_km                 152
offer_description               1
dtype: int64

In [11]:
cars.duplicated().sum()

6353

In [13]:
cars.corr(numeric_only=True)

               mileage_in_km
mileage_in_km            1.0